# This file is used by PyTest when test are run. It's purpose is to ignore nay
# intentionally uncovered files
[report]
exclude_lines =
    pragma: no cover

        # Don't complain if tests don't hit defensive code
        raise AssertionError
        raise NotImplementedError

        # Don't complain if non-runnable code isn't run
        if 0:
        if __name__ == .__main__.:
        @abc.abstractmethod
        __all__

omit =
    */__init__.py
    */test/*
    */snapshots/*
